.horarios1{
    background-color: wheat;
    height: 85vh;
    display: flex;
    align-items: center;
    background-image: url(../img/horarios.jpg);
    background-repeat: none;
    background-size: cover;
    .tablas1{
        display: none;
    }
    .tablas{
    h2{
        text-align: center;
        font-size: 1.5rem;
    }
    width: 34%;
    margin: 0px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    td{
    width: 1rem;
    border: 2px solid black;
    text-align: center;
    background-color:rgba(127, 255, 212, 0.644);
    }
}
@media (min-width: 768px){
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    h2{
        text-align: center;
    }
    .tablas1{
        display: flex;
        flex-direction: column;
        td{
            border: 2px solid black;
            text-align: center;
            background-color:rgba(127, 255, 212, 0.644); 
            height:3rem;
            width: 8rem; 
        }
    }
    .tablas{
        display: none;
    }
}

}